# IBM watsonx.ai Configuration
# Copy this file to .env and fill in your credentials

WATSONX_API_KEY= oszaktQ0OgsBZ27p9crvGfLkAx_w2iuyG3gy3sLXWtgY
WATSONX_PROJECT_ID = cc420f14-5b5f-4776-9af9-4634b19cfcb3
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# How to get credentials:
# 1. Sign up at https://cloud.ibm.com/   ItOiX8-ixkPHwezno3691zB9ZPk_MQW8Xz5R3pUvgUDK
# 2. Create a watsonx.ai instance
# 3. Navigate to your project
# 4. Copy the API key and Project ID from the project settings


